<template>
    <v-card class="mx-auto padding-50" max-width="80%" >
        <v-list-item three-line>
            <v-list-item-content>
                <v-list-item-title class="headline mb-1"><b align="center">{{ title }}</b></v-list-item-title>
                <v-list-item-subtitle>
                    {{ text }}
                </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
        <v-card-actions>
            <v-btn>Reload</v-btn>
            <v-btn>Go home</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props: ['title', 'text'],
}
</script>

<style>

</style>