<template>
  <div>
    <h1 class="title"><b>Kuizz Global Leaderboard</b></h1>
    <v-divider/>
    <div class="padding-50">
        <div v-if="!leaderboard.loaded">
          <v-skeleton-loader type="list-item-avatar-three-line" tile="tile" class="mx-auto pa-1" max-width="85%"></v-skeleton-loader>
          <v-skeleton-loader type="list-item-avatar-three-line" tile="tile" class="mx-auto pa-2" max-width="85%"></v-skeleton-loader>
          <v-skeleton-loader type="list-item-avatar-three-line" tile="tile" class="mx-auto pa-3" max-width="85%"></v-skeleton-loader>
          <v-skeleton-loader type="list-item-avatar-three-line" tile="tile" class="mx-auto pa-4" max-width="85%"></v-skeleton-loader>
          <v-skeleton-loader type="list-item-avatar-three-line" tile="tile" class="mx-auto pa-5" max-width="85%"></v-skeleton-loader>
          <v-skeleton-loader type="list-item-avatar-three-line" tile="tile" class="mx-auto pa-6" max-width="85%"></v-skeleton-loader>
          <v-skeleton-loader type="list-item-avatar-three-line" tile="tile" class="mx-auto pa-7" max-width="85%"></v-skeleton-loader>
          <v-skeleton-loader type="list-item-avatar-three-line" tile="tile" class="mx-auto pa-8" max-width="85%"></v-skeleton-loader>
        </div>
        <div v-if="leaderboard.error">
          <ErrorComponent text="Unable to display the leaderboard for now. Please, try again later. Sorry for the incovenience." title="Oops, something bad happend."/>
        </div>
        <div v-else>
          <LeaderboardHeader @click="reload()"/>
          <LeaderboardUserDisplay v-for="(user, index) in leaderboard.leaderboard" v-bind:key="user.id" class="padding-50" :index="index" :user="user"/>
        </div>
      </div>
</div>
</template>

<script>
const LeaderboardUserDisplay = () => import('@/components/leaderboard/LeaderboardUserDisplay')
const ErrorComponent = () => import('@/components/leaderboard/ErrorComponent')
const LeaderboardHeader = () => import('@/components/leaderboard/LeaderBoardHeader')

export default {
  components: {
    LeaderboardUserDisplay,
    ErrorComponent,
    LeaderboardHeader,
  },
  async mounted() {
    const state = await import('@/core/store/extensions/version/Leaderboard')
    this.$store.registerModule('Leaderboard', new state.default())
    this.$store.dispatch('Leaderboard/load')
  },
  computed: {
    leaderboard() {
      return this.$store.state.Leaderboard
    },
  },
  methods: {
    reload() {
      this.$store.dispatch('Leaderboard/load')
    },
  },
}
</script>

<style scoped>
.title {
  font-size: 1vw;
  text-align: center !important;
  padding: 50px;
}
.padding-50 {
  margin-top: 50px;
}
</style>