<template>
  <v-snackbar left v-if="current" v-model="show" :color="current.color || 'gray'" :timeout="current.timeout || 3000">
    {{ current.message }}
    <v-btn text @click="shift()">Close</v-btn>
  </v-snackbar>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      current: null,
    }
  },
  watch: {
    show(old, neww) {
      if(neww)
        this.shift()
    }
  },
  created() {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'Notifications/push') {
        this.current = state.Notifications.notifications[0]
        this.show = true
      } else if (mutation.type === 'Notifications/shift') {
        if (state.Notifications.notifications[0]) {
          this.current = state.Notifications.notifications[0]
          this.show = true
        }
      }
    })
  },
  methods: {
      shift() {
          this.show = false
          setTimeout(() => {
            this.$store.dispatch('Notifications/shift')
          }, 500)
      },
  },
}
</script>