<template>
  <v-snackbar trop v-model="openned">
    Enable the push notifications to stay up to date
    <v-btn text @click="openned = false">Close</v-btn>
    <v-btn text @click="accept()">Enable</v-btn>
  </v-snackbar>
</template>

<script lang="ts">
import Vue from 'vue'
import { API_ENDPOINT } from '../core/api'
import Axios from 'axios';

/*
* Convert to chrome usable format ( vapid public key )
*/
function urlB64ToUint8Array(base64String: string) {
  const padding = '='.repeat((4 - base64String.length % 4) % 4);
  const base64 = (base64String + padding)
    .replace(/\-/g, '+')
    .replace(/_/g, '/');

  const rawData = window.atob(base64);
  const outputArray = new Uint8Array(rawData.length);

  for (let i = 0; i < rawData.length; ++i) {
    outputArray[i] = rawData.charCodeAt(i)
  }
  return outputArray;
}

export default Vue.extend({
    data: () => {
        return { openned: true }
    },
    methods: {
        async accept() {
            const result = await Notification.requestPermission()
            if (result === 'granted' || result === 'default') {
                this.openned = false
                await this.register()
            }
        },
        async register() {
            const serviceWorker = (await navigator.serviceWorker.getRegistration())
            if (!serviceWorker) {
                return
            }
            const publicKey = await Axios(`${API_ENDPOINT}/api/push/vapidPublicKey`, { responseType: 'text' })
                                    .then(x => x.data)
                                    .then((x) => urlB64ToUint8Array(x))
            const sub = await serviceWorker.pushManager.subscribe({ userVisibleOnly: true, applicationServerKey: publicKey })
            if (!sub) {
                return
            }
            await Axios(`${API_ENDPOINT}/api/push/register`, {
                method: 'POST',
                data: {
                    subscription: sub,
                },
            })
        },
    },
    async beforeMount() {
        const registration = (await ((await navigator.serviceWorker.getRegistration())?.pushManager.getSubscription()))

        if (registration || typeof navigator.serviceWorker === 'undefined') {
            this.openned = false
            return
        }
        // If the user is not already registered.
        if (Notification.permission === 'granted' || Notification.permission === 'default') {
            this.openned = true
        } else if (Notification.permission === 'denied') {
            this.openned = false
        }
    },
})
</script>