<template>
  <v-app >
      <AskForPushNotifications v-if="this.$store.state.Session.loggedIn"/>
      <Notifier/>
      <UpdateWatcher/>
      <NavBar/>
      <v-content>
          <router-view class="content"/>
          test
          test
          test
      </v-content>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
const NavBar = () => import('@/components/navBar/NavBar.vue')
const Notifier = () => import('@/components/Notifier.vue')
const AskForPushNotifications = () => import('@/components/PushComponent.vue')
const UpdateWatcher = () => import('@/components/UpdateWatcher.vue')

@Component({
  name: 'main-component',
  components: {
    NavBar,
    Notifier,
    AskForPushNotifications,
    UpdateWatcher,
  },
})
export default class App extends Vue {}
</script>

<style scoped>
.content {
  padding: 1em;
}
</style>
